<h1>ASK THE COACH ANYTHING</h1>
<p></p>
<form action="http://localhost:3000/answer?question=hello">
  <input class="question" type="text" name="question">
  <input class ="submit "type="submit" value="Ask!">
</form>
<h2><%= @question %></h2>

